@import "css/formulaires.less";

/**
 * Fonts
 */

@font-face {
		font-family: 'open_sanssemibold';
		src: url('fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-semibold-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sanslight';
		src: url('fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-light-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sans';
		src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushan/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@serifFontFamily:       open_sans;

body {
	line-height: 1.6em;
}


/**
 * Titles
 */

h1, h2, h3, h4, #rubrique-1 .texte strong {
	color: @pink;
	font-family: 'open_sanslight';
	text-transform: uppercase;

}

/**
 * Main blocks
 */
.container .row {
	margin-left: 0;
}

#header .accueil,
#content {
	float: none;
	margin: 0 auto;
}

/**
 * Header.
 */

#header {
	background: transparent url(images/title.jpg) center center no-repeat;
	background-size: cover;
	min-height: 38.125em;
}


// Navigation.
.navbar-inner {
	box-shadow: none;
}

.navbar-inverse .nav{
	 > li.current > a {
		color: #524860;
	}
	> li a {
		text-shadow: none;
	}
}

.navbar {
	padding-top: 2.5em;
	font-family: 'open_sanssemibold';
	text-transform: uppercase;
	.nav {
		float: right;
		margin: 0 2.5em 0 0;
	}
	li:last-child {
		a {
			padding-right:0;
		}
	}
}

.navbar-inner.fixed {
	background-color: #E6E6E4;
	width: 100%!important;
	left: 0!important;
}

#logo_site_spip {
	font-size:0;
	text-align: center;
	.spip_logos {
		float: none;
		margin: 0;
	}
}

/**
 * General
 */

.principale .row > [class*="span"] {
	float:none;
	margin: 0 auto;
}

.slogan {
	color: white;
	text-align: center;
	font-family: kaushan_scriptregular;
	font-size: 2.875em;
	line-height: 1em;
	margin-top: -1em;
	margin-bottom: 6em;
}


/**
 * Sections
 */

#content {
	> section {
		padding-top: 6.25em;
		header {
			text-align: center;
			.texte {
				margin: 0 auto;
				width: 65%;
			}
			.texte strong {
				font-size: 2.625em;
				font-weight: normal;
				margin-bottom: 1.25em;
			}
		}
		article {
			header {
				text-align: left;
			}
		}
	}
}
// Start.
#rubrique-1 {
	h1 {
		display: none;
	}
	.details {
		margin-top: 6.25em;
		padding: 6.25em 0;
		article {
			width: 66%;
		}
		article:first-child {
			margin-bottom: 4.375em;
		}
		h2 {
			text-align: left;
		}
	}
}

#rubrique-2 {
	background: transparent url("images/klecks-top.jpg") no-repeat 0 0 ;
	background-size: 100%;
	.cartouche {
		.spip_logos {
			margin: 3.75em 0;
			float:none;
		}
	}
}

#rubrique-3 {
	background: transparent url("images/klecks-bottom.jpg") no-repeat 0 0 ;
	background-size: 100%;
	.slogan {
		margin-bottom: 2em;
		margin-top: 4.5em;
		p {
			margin-bottom: 0.5em
		}
		p:last-child {
			font-size:0.347em;
			font-family: @serifFontFamily;
			line-height: normal;
		}
	}
	.row-fluid {
		margin-top: 3.75em;
		padding-top: 3.75em;
		border-top: @grayDark 2px solid;
	}
}