@import "css/formulaires.less";

/**
 * Fonts
 */

@font-face {
		font-family: 'open_sanssemibold';
		src: url('fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-semibold-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sanslight';
		src: url('fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-light-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sans';
		src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
				 url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@serifFontFamily:       open_sans;


/**
 * Titles
 */

h1, h2, h3, h4, #rubrique-1 .texte strong {
	color: @pink;
	font-family: 'open_sanslight';
}

/**
 * Main blocks
 */
.container .row {
	margin-left: 0;
}

#header .accueil,
#content {
	float: none;
	margin: 0 auto;
}

/**
 * Header.
 */

#header {
	background: transparent url(images/title.jpg) center center no-repeat;
	background-size: cover;
	min-height: 38.125em;
}


// Navigation.
.navbar-inner {
	box-shadow:none;
}

.navbar-inverse .nav > li.current > a {
				color: #524860;
}

.navbar {
	padding-top: 2.5em;
		font-family: 'open_sanssemibold';
	.nav {
		float: right;
		margin: 0 2.5em 0 0;
	}
	li:last-child {
		a {
			padding-right:0;
		}
	}
}

.navbar-inner.fixed {
	background-color: #E6E6E4;
	width: 100%!important;
}


#logo_site_spip {
	font-size:0;
	text-align: center;
	.spip_logos {
		float: none;
		margin: 0;
	}
}

/**
 * Sections
 */

// Start.
#rubrique-1 {
	text-align:center;
	h1 {
		display: none;
	}
	.texte strong {
		font-size: 2.625em;
		font-weight: normal;
	}
}