@import "css/formulaires.less";

/**
 * Fonts
 */

@font-face {
		font-family: 'open_sanssemibold';
		src: url('fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
				url('fonts/opensans/opensans-semibold-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sanslight';
		src: url('fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
				url('fonts/opensans/opensans-light-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sans';
		src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
				url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'open_sansitalic';
		src: url('fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
				url('fonts/opensans/opensans-italic-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'kaushan_scriptregular';
		src: url('fonts/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'),
				url('fonts/kaushan/kaushanscript-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@serifFontFamily:       open_sans;

body {
	line-height: 1.6em;
}

p {
	hyphens: auto;
}

ul.spip {
	list-style-type: disc;
	li {
		padding-left: 1em;
	}
}

#content {
	a {
		font-weight:bold;
	}
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 100%!important;
}
/**
 * Titles
 */

h1, h2, h3, h4, #rubrique-1 .texte strong {
	color: @pink;
	font-family: 'open_sanslight';
	text-transform: uppercase;
}

h1, .h1, .h1-like {
	font-size: 2.625em;
}

/**
 * Main blocks
 */
.container .row {
	margin-left: 0;
}

#header .accueil,
#content {
	float: none;
	margin: 0 auto;
}

/**
 * Header.
 */

#header {
	background: transparent url(images/title.jpg) center center no-repeat;
	background-size: cover;
	min-height: 38.125em;
}


// Navigation.
.navbar-inner {
	box-shadow: none;
}

.navbar-inverse .nav{
	> li.current > a {
		color: #524860;
	}
	> li a {
		text-shadow: none;
	}
}

.navbar {
	padding-top: 2.5em;
	margin-bottom: 2.8em;
	font-family: 'open_sanssemibold';
	text-transform: uppercase;
	.nav {
		float: right;
		margin: 0 2.5em 0 0;
	}
	li:last-child {
		a {
			padding-right:0;
		}
	}
}

#logo_site_spip {
	font-size:0;
	text-align: center;
	.spip_logos {
		float: none;
		margin: 0;
	}
}

/**
 * General
 */

.principale .row > [class*="span"] {
	float:none;
	margin: 0 auto;
}

.slogan {
	color: white;
	text-align: center;
	font-family: kaushan_scriptregular;
	font-size: 2.875em;
	line-height: 1em;
	margin-top: -1em;
	margin-bottom: 6em;
}

#slider-main img {
	margin: 0 auto;
}


/**
 * Sections
 */

#content {
	> section {
		padding-top: 6.25em;
		header {
			text-align: center;
			.texte {
				margin: 0 auto;
				width: 65%;
			}
			.texte strong {
				font-size: 2.625em;
				font-weight: normal;
				margin-bottom: 1.25em;
			}
		}
		article {
			header {
				text-align: left;
			}
		}
	}
}
// Start.
#rubrique-1 {
	h1 {
		display: none;
	}
	.details {
		margin-top: 6.25em;
		padding: 6.25em 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-color:  #f4f4f4;
		background-position: 100% 50%;

		article {
			width: 66%;
		}
		article:first-child {
			margin-bottom: 4.375em;
		}
		h2 {
			text-align: left;
		}
	}
}

// Angebot.
#rubrique-2 {
	background-image: url("images/klecks-top.jpg"), url("images/klecks-bottom.jpg");
	background-repeat: no-repeat;
	background-position: 0 0, 0 100%;
	background-size: 100%;
	.cartouche {
		.spip_logos {
			margin: 3.75em 0;
			float:none;
		}
		p {
			hyphens: none;
		}
	}
	.span8 .span6:last-child{
		article{
			padding-left: 1em;
		}
	}
	.ps {
		background-size: 100%;
		margin-bottom: 1em;
		margin-top: 6.5em;
		color: white;
		font-family: kaushan_scriptregular;
		font-size: 2.875em;
		line-height: 1em;
		text-align: center;
		p {
			margin-bottom: 0.5em
		}
		p:last-child {
			font-size:0.347em;
			font-family: @serifFontFamily;
			line-height: normal;
		}
	}
}

// Therapien und Preise
#rubrique-3 {
	.row-fluid {
		margin-top: 3.75em;
		padding-top: 3.75em;
		border-top: @grayDark 2px solid;
	}
	.slick-prev, .slick-next {
		width: 40px;
		height: 40px;
		transform: translate(-45px, -50%);
	}
	.slick-prev::before, .slick-next::before {
		color: black;
		font-size: 40px
	}
	.slick-next {
	right: 0.3125em;
	transform: translate(45px, -50%);
	}
	.slick-prev {
		left: 0;
		z-index: 100;
	}
	.ps {
		margin-top: 3.125em;
		margin-bottom: 10em;
	}
	.row-fluid [class*="span"]:nth-child(odd){
		margin-left: 0;
	}
	.row-fluid [class*="span"]:last-child {
		float: left;
	}
	.angebot {
		margin-bottom: 3.75em;
	}
}

// Portrait
#rubrique-4 {
	header {
		img {
			margin-bottom: 1.875em;
		}
		margin-bottom: 3.75em;
	}
	ul {
		margin-left: 0;
		li {
			margin-left: 1.875em;
		}
	}
	.main {
		.texte {
			> p, ul {
				width: 47%;
				vertical-align:top;
				float: left;
			}
			> p:nth-of-type(2) {
				clear: both;
			}
			> p:nth-of-type(3), > p:nth-of-type(1) {
				float:right;
			}
		}
	}
	.items {
		text-align:center;
		text-transform: uppercase;
		font-weight: bold;
		clear: both;
		.numero {
			font-family: kaushan_scriptregular;
			font-size: 2.875em;
			margin: 0.5em 0;
		}
		p {
			width: 100%;
		}
	}
}

// Fragen.
section#rubrique-5 {
	background-color: #492d43;
	padding-top: 3.125em;
	padding-bottom: 9.375em;
	h1 {
		text-align: left;
		color: white;
		margin-bottom: 1.25em;
	}
	.faq {
		position: relative;
		dl {
			text-align: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			dt, dd {
				span {
					padding: 4em 0.5em;
					display: inline-block;
				}
			}
			dt {
				padding: 0;
				cursor: pointer;
				width: 40%;
				color: #1f3455;
				font-size: 1.75em;
				font-family: open_sansitalic;
				text-transform: italic;
				line-height: normal;
				font-weight: normal;
			}
			dt:nth-of-type(1) {
				background-color: #c6d5e2;
				width: 25%
			}
			dt:nth-of-type(2) {
				background-color: #ac6e85;
				width: 35%;
			}
			dt:nth-of-type(3) {
				background-color: #d297af;
			}
			dt:nth-of-type(4) {
				background-color: #a68a93;
			}
			dt:nth-of-type(5) {
				background-color: #c18682;
				width: 27%;
			}
			dt:nth-of-type(6) {
				background-color: #bedaf2;
				width: 33%;
			}
			dd {
				display: none;
			}
		}
		.modal {
			width: 100%;
			background-color: #c6d5e2;
			border-radius: 0;
			height: 100%;
			left: 0;
			margin-left: 0;
			position: absolute;
			top: 0;
			align-items: center;
			display: flex;
			.close {
				font-size: 4em;
				position: absolute;
				right: 0.2em;
				top: 0.3em;
				color: #492d43;
				font-weight: normal;
				opacity: 1;
				float: none;
				font-family: open_sanslight;
			}
			dl {
				padding: 0 2.5em;
				display: block;
			}
			dt {
				text-align: left
			}
			dt:nth-of-type(1) {
				width: 100%
			}
			dd {
				display: block;
				padding: 0;
				text-align: left;
			}
		}
	}
}

// Links.
#rubrique-6 {
	padding-bottom: 6.25em;
	h1 {
		color: @grayDark;
		text-align: left;
	}
	.main {
		.texte {
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			-webkit-column-gap: 2.5em;
			-moz-column-gap: 2.5em;
			column-gap: 2.5em;
			p {
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
			}
		}
	}
}

// Kontakt
#rubrique-7 {
	padding-bottom: 5.625em;
	h1 {
		text-align: left;
		color: #1f3455;
	}
	a {
		color: #1f3455;
		font-weight: normal;
	}
	.main {
		p {
			margin-bottom: 0;
		}
	}
	.carte_gis {
		border: #F6F5F5 0.7em solid;
	}
}

#content .end {
	background: #d297af url(images/bg_contact.jpg) no-repeat;
	background-size: cover;
	color: #1f3455;
	padding-top: 6.25em;
	.footer {
		float: none;
		margin: 4em auto 0;
		padding-bottom: 6.25em;
		padding-top: 1.25em;
		text-align: right;
	}
}

// Responsive
@media (max-width: 1200px) {
	.span8 {
		width: 980px;
	}

	#rubrique-1 .details {
		background-position: 140% 58%;
	}

	section#rubrique-5 .faq dl dt span, section#rubrique-5 .faq dl dd span {
		padding: 2em 0.5em;
	}
}

@media (max-width: 979px) {
	#content > section, section#rubrique-7, .end {
		padding: 4em 2em 0 2em;
		.row > .span8 {
			width: 100%;
		}
	}

	section#rubrique-2 {
		padding-bottom: 0;
	}
	#rubrique-2 .ps {
		margin-top: 3.5em;
		margin-bottom:0;
		line-height: 0.9em;
	}
}

@media (min-width: 768px) {
	.navbar-inner.fixed {
		background-color: #E6E6E4;
		width: 100%!important;
		left: 0!important;
	}
}

@media (max-width: 767px) {
	h1#logo_site_spip {
		width: 100%!important;
	}

	#header {
		padding: 2em;
		min-height: auto;
	}

	.navbar-responsive.navbar-inverse .navbar-inner .nav-collapse {
		background-color: #E6E6E4;
		text-align: right;
	}
	.navbar .btn-navbar {
		background-color: #E6E6E4;
	}
	.navbar-inverse .btn-navbar:hover,
	.navbar-inverse .btn-navbar:focus,
	.navbar-inverse .btn-navbar:active,
	.navbar-inverse .btn-navbar.active,
	.navbar-inverse .btn-navbar.disabled,
	.navbar-inverse .btn-navbar[disabled] {
		background-color: #E6E6E4;
	}
	#rubrique-1 {
		.details {
			margin: 0 -2em;
			padding: 2em;
			article {
				width: 100%;
			}
		}
	}
	#rubrique-2 {
		background: none;
		.slogan {
			display:none;
		}
		.ps {
			display:none;
		}
	}
	#rubrique-3{
	.angebot {
		margin-bottom: 2em;
	}
	.ps {
			margin-top: 0;
			margin-bottom: 4em;
		}
	}
	#rubrique-4 {
		.items {
			display:none;
		}
	}
	#content .end {
		padding: 0;
	}

	section#rubrique-5 {
		.faq {
			dl {
				dt,
				dt:nth-of-type(1),
				dt:nth-of-type(2),
				dt:nth-of-type(5),
				dt:nth-of-type(6) {
					width: 100%;
				}
			}
			.modal {
				height: auto;
				padding: 1em 0;
				display:block;
				position: fixed;
				.close {
					font-size: 2em;
					left: 0.5em;
					right: 100%;
				}
			}
		}
	}

	section#rubrique-7 {
		padding-top: 2em;
		margin-top: 2em;
		.carte_gis {
			margin-top: 3em;
		}
	}
}

@media (max-width: 414px) {
	h1, .h1, .h1-like {
		font-size: 2em;
	}
	h2 {
		line-height: 1em;
	}
	#content > section header .texte {
		width: 100%;
		strong {
			font-size: 2em;
		}
	}
	#rubrique-4 {
		.main {
			.texte {
				ul, > p  {
					width: 100%;
					float: none;
				}
			}
		}
	}
	section#rubrique-5 {
		.faq {
			dl {
				dt {
					font-size: 1.3em;
					span {
						padding: 1em 0.5em;
					}
				}
			}
		}
	}
	#rubrique-6 {
		.main .texte {
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
			-webkit-column-gap: 0;
			-moz-column-gap: 0;
			column-gap: 0;
		}
	}
}
